@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@import url('https://db.onlinewebfonts.com/c/b932b905cd383ef7bb2f00f7371ac51b?family=Gmarket+Sans+TTF+Medium');


body {
    background-color: #ffffff;
    font-family: "Gmarket+Sans+TTF+Medium", "Rowdies", sans-serif;
}


/* 커서 탬플릿 https://developer.mozilla.org/en-US/docs/Web/CSS/cursor */
.pointer {
    cursor: pointer;
}
.wait {
    cursor: wait;
}
.help {
    cursor: help;
}


/* #carousel {
	 position: relative;
	 height: 200px;
	 width: 100%;
	 max-width: 810px;

}
.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
}
.arrow {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: rgb(98,82,68);
	text-align: center;
	font-size: 25px;
	border-radius: 50%;
	cursor: pointer;
	font-size: 20px;
	color: #f0f7ee;
	line-height: 30px;
	margin-top: 85px;
	z-index: 1000;
}
.arrow-right {
	left: 10px;
}
.arrow-left {
	right: 10px;
}
.item {
	text-align: center;
	color: white;
	font-size: 40px;
	position: absolute;
	transition: height 1s, width 1s, left 1s, margin-top 1s, line-height 1s, background-color 1s;
}
.level-2, .level-1, .level0, .level1, .level2 {
    height: 150px;
    width: 110px;
    line-height: 150px;
    background-color: #ffffff;
    margin-top: 25px;
}

.level-2 {
    left: 650px;
}

.level-1 {
    height: 180px;
    width: 130px;
    left: 500px;
    margin-top: 10px;
}

.level0 {
    height: 200px;
    width: 150px;
    left: 330px;
    background-color: #ffffff;
}

.level1 {
    left: 180px;
}

.level2 {
    left: 50px;
}

@media (max-width: 1024px) {
    #carousel {
        height: 150px;
    }

    .arrow {
        width: 25px;
        height: 25px;
        font-size: 18px;
        line-height: 25px;
        margin-top: 62.5px;
    }

    .item {
        font-size: 30px;
    }

    .level-2, .level-1, .level0, .level1, .level2 {
        height: 120px;
        width: 90px;
        line-height: 120px;
    }
}

@media (max-width: 768px) {
    #carousel {
        height: 120px;
    }

    .arrow {
        width: 20px;
        height: 20px;
        font-size: 14px;
        line-height: 20px;
        margin-top: 50px;
    }

    .item {
        font-size: 20px;
    }

    .level-2, .level-1, .level0, .level1, .level2 {
        height: 100px;
        width: 75px;
        line-height: 100px;
    }
} */

